asgiref==3.7.1
beautifulsoup4==4.12.2
certifi==2024.6.2
charset-normalizer==3.3.2
crispy-bootstrap4==2022.1
Django==4.2.1
django-bootstrap4==23.2
django-crispy-forms==2.0
django-js-asset==2.1.0
idna==3.7
Pillow==10.0.1
psycopg2==2.9.9
python-decouple==3.8
requests==2.32.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tz==0.2.2
tzdata==2023.3
urllib3==2.0.6
