{% extends 'partials/base.html' %}
{% block title %} Página Inicial {% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}

{% include 'partials/topnav.html' %}
 <!--Graphs-->
 <div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for order in orders %}'{{ order.product.name }}',{% endfor %}],
                            datasets: [{
                                label: 'Pedidos',
                                data: [{% for order in orders %} {{ order.order_quantity }},{% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(25, 159, 64, 1)',
                                    'rgba(211, 99, 12, 1)',
                                    'rgba(234, 16, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(34, 142, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(25, 159, 64, 1)',
                                    'rgba(211, 99, 12, 1)',
                                    'rgba(234, 16, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(34, 142, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for product in products %}'{{product.name}}',{% endfor %}],
                            datasets: [{
                                label: 'Produtos',
                                data: [{% for product in products %}{{product.quantity}},{% endfor %}],
                                backgroundColor: [
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(25, 159, 64, 1)',
                                    'rgba(211, 99, 12, 1)',
                                    'rgba(234, 16, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(34, 142, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    
                                ],
                                borderColor: [
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(25, 159, 64, 1)',
                                    'rgba(211, 99, 12, 1)',
                                    'rgba(234, 16, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(34, 142, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!--End Graphs-->
{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}

{% endblock %}