{% extends 'partials/base.html' %}
{% block title %} Redefinição de Senha {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Senha alterada com sucesso</h3>
                <hr>
                <div class="alert alert-success">
                    <h4>Agora você pode fazer login com a sua nova senha</h4>
                </div>
                <a href="{% url 'user-login' %}">Fazer Login</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
