{% extends 'partials/base.html' %}
{% block title %} Redefinição de Senha {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Quase lá!</h3>
                <hr>
                <div class="alert alert-info">
                    <h4>Um email foi enviado para sua caixa de entrada do email que você providenciou. Lá tem instruções de como pode redefinir a sua senha</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
