{% extends 'partials/base.html' %}
{% block title %} Redefinição de Senha {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">  
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="border p-3 bg-white">
                    <h3>Confirme a sua nova senha</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-success" type="submit" value = "Confirmar Senha">
                    </form>
                </div>
            </div>
        </div>
    </div>
                    
{% endblock %}
