{% extends 'partials/base.html' %}
{% block title %} Login {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Página de Perfil
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Informacões do Perfil </span> <a class="btn btn-info btn-sm float-right"
                                href="{% url 'user-profile-update' %}">Editar</a>
                            <hr>
                            <table class="table bg-white table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">Nome</th>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Telefone</th>
                                        <td>{{ user.profile.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Endereço</th>
                                        <td>{{ user.profile.address }}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}