{% extends 'partials/base.html' %}
{% block title %} Atualizar Perfil {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Página de Perfil
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Informacões do Perfil </span>
                            <hr>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_form|crispy }}
                                {{ profile_form|crispy }}
                            <input class="btn btn-info" type="submit" value="Atualizar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<!--End Table-->
{% endblock %}