{% extends 'partials/base.html' %}
{% block title %} Pagina de Registro {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="cold-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Crie a sua conta</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <input class="btn btn-success" type="submit" value="Criar Conta">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 